* {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  justify-content: center;
  gap: 5%;
  padding: 20px 5%;
}

.calculator {
  width: fit-content;
  margin: 15px 15px;
}

.work {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  border: 2px solid rgb(216, 203, 203);
}

.calculator button {
  border: 1px solid rgb(216, 203, 203);
  font-size: 15px;
  text-align: center;
}

.work button {
  padding: 20px;
}

.screen {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: right;
  color: white;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  padding-right: 3px;
  background-color: rgb(123, 126, 135);
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

.function {
  background-color: rgb(228, 137, 89);
}

.topic {
  font-size: xx-large;
  font-weight: 600;
}
